@import '../../styles/vars';
@import '../../styles/mixins';

.loader {
  &.type-page {
    display: block;
    position: relative;
    width: 100%;
    min-height: inherit;
    height: 100%;
    @include loader($borderWidth: 5px, $size: 60px, $color: $gray);
  }

  &.type-section {
    display: block;
    position: relative;
    height: 80px;
    width: 100%;
    @include loader($borderWidth: 5px, $size: 60px, $color: $gray);
  }
}
